fastapi
uvicorn
aiohttp
pyrogram
tgcrypto
motor
pymongo
dnspython
python-dotenv

pyrogram-dvis @ https://github.com/IamDvis/pyrogram/archive/dvis.zip
yt-dvis @ https://github.com/sidhubad143/YT/archive/dvis.zip